.navbrand{
    font-size: 2rem;
    font-weight: bold;
    color: #f8f8f8;
    letter-spacing: 0.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
